body{
  background-color:#eee;
}

ul {
  list-style-type: square;
  margin: 0 0 0 0;
  padding: 10px;
}

img.terry{
  float:right;
  position:relative;
  width:300px;
  height:150px;
}

div{
  visibility: hidden;
}


div.cita{
  visibility: visible;
  margin:auto;
  width:auto;
  background:#fff;
  border: 1px solid black;
  padding: 20px;
}




div.border{
  visibility: visible;
  margin:auto;
  width:85%;
  border: 6px solid blue;
  padding: 20px;
}
div.ubuntu_letra{
  font-family:Ubuntu;
  font-size: 1.5vw;
}


p.green {
  display:inline;
  color: green;
}

p.red {
  display:inline;
  color: red;
}

p.blue {
  color: blue;
}

p.grande {
  text-transform: uppercase;
}
