body{
  background-color:#eee;
}

.header {
	visibility:visible;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
	visibility:visible;
  width: 100%;
  height: 4px;
  background: #ccc;
}

.progress-bar_preguntas {
	visibility:visible;
  height: 4px;
  background: #debe4b;
  width: 0%;
}


.progress-bar {
	visibility:visible;
  height: 4px;
  background: blue;
  width: 0%;
}

footer{
  font-size:8pt;
  text-align:center;
}

hr{
  border: 2px solid red;
  border-radius:5px;
}


#preguntas_progress-bar {
  background: yellow;
2}




ul {
  list-style-type: square;
  margin: 0 0 0 0;
  padding: 10px;
}

img.terry{
  float:right;
  position:relative;
  width:auto;
  height:auto;
}


div{
  visibility: hidden;
}


div.cita{
  visibility: visible;
  margin:auto;
  width:auto;
  background:#fff;
  border: 1px solid black;
  padding: 20px;
}


div.preguntas{
  visibility: visible;
  margin:auto;
  width:83%;
  border: 5px solid #899609;
  border-radius:20px;
  padding: 15px;
}


div.border{
  visibility: visible;
  margin:auto;
  width:85%;
  border: 6px solid blue;
  padding: 15px;
}
div.ubuntu_letra{
  font-family:Ubuntu;
  font-size: 1.5vw;
}

p:hover{
  background-color:#fff
}

p.green {
  display:inline;
  color: green;
}

p.red {
  display:inline;
  color: red;
}
p.small{
  font-size:8pt;
  display:inline;
}
p.blue {
  color: blue;
}

p.grande {
  text-transform: uppercase;
}
